<mat-toolbar  class="tool" color="primary">
    
      <button mat-button [matMenuTriggerFor]="menu"><mat-icon class="material-icons">menu</mat-icon></button>
      <mat-menu #menu="matMenu">
         <button mat-menu-item>Item 1</button>
         <button mat-menu-item>Item 2</button>
      </mat-menu>
    
    <span class="heading">Energyviss/Live Dashboard</span>
    <span class="example-spacer"></span>
    <span class="material-icons"> refresh </span>
    <mat-icon class="material-icons">access_alarms</mat-icon>
    <mat-icon class="material-icons">person</mat-icon>
  </mat-toolbar>
  